[submodule "themes/axiom"]
	path = themes/axiom
	url = https://github.com/marketempower/axiom.git
[submodule "public"]
	path = public
	url = git@github.com:trees-and-airlines/trees-and-airlines.github.io.git
	branch = publish
